!!!
%html
  %head
    %title RobotSchool
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{ class: "#{controller_name} #{action_name}", data:{ controller: controller_name, view: action_name } }
    = yield
